<a href="https://colab.research.google.com/github/noelmt7/LAB-4/blob/main/LAB4_2348538.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [2]:
data=pd.read_csv('/content/Groceries_dataset - Groceries_dataset (1).csv')

In [3]:
data.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [5]:
data.isnull().sum()

Member_number      0
Date               0
itemDescription    0
dtype: int64